<p>Электронный адрес: {{mainEmail}}</p>
    
{{{getList otherEmail}}}

{{#if otherEmail.length}}
    <ul>
        {{#each otherEmail as |element|}}
            <li>{{element}}</li>
        {{/each}}
    </ul>
{{/if}}